body {
    height: 100vh;
    width: 100vw;
    background-color:#4bb9e8;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.outer {
    height: 450px;
    width: 250px;
    background-color: white;
    border-radius: 10px;
    

}
#inner {
    height: 250px;
    width: 220px;
    background-color: rgb(27, 42, 255);
    margin-left: 15px;
    margin-top: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 5px black;
}
#success {
    padding-left: 15px;
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
   
}
#dream {
    padding-left: 15px;
    font-size: 13px;
    font-family: cursive;
   
}
#tanu {
    margin-bottom:50px;
    margin-left: 60px;
    margin-right: 50px;
    margin-top: 70px;

    
}
