body {
    height: 100vh;
    width : 100vw;
    display: flex;
    justify-content:center;
    align-items: center;
}

.container {
    height: 430px;
    width: 270px;
    background-color: rgb(62, 220, 31);   
    padding-left: 21px;
    border-radius: 10px;
}
.lang1 {
    width: 250px;
    height: 25px;
    font-size: 11PX;
    color: rgb(6, 62, 231);
}
#translate {
    height: 50px;
    width: 243px;
    border-radius: 3px;
    border:none;
}
#button {
    height:25px;
    width: 250px;
    background-color: blue;
    margin-top: 15px;
    text-align: center;
    padding-top: 6px;
    border-radius: 10px;
    
}
#translate1 {
    height: 40px;
    width: 243px;
    border-radius: 3px;
    border: none;
}
.same {
    font-size: 14px;
    border-radius: 10px;
}
h3 {
    padding-left: 45px;
}
a {
    color:white;
    text-decoration: none;
    font-size: 15px;
}
input::placeholder {
    padding-bottom: 50px;
}
