body {
    background-color: black;
}
#box {
    height: 300px;
    width: 200px;
    background-color:rgba(64, 64, 64, 0.5);
    color: white;
    border-radius: 8px;
    padding-left: 20px;
    margin-left: 400px;
    margin-top: 110px;
    box-shadow: 2px 2px 2px rgba(211, 211, 211, 0.5) ;
    
    

}
#head {
    text-align: center;
    padding-top: 25px;
    padding-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
#log {
    margin-top: 30px;
    height: 30px;
    width: 175px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}
p {
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.google {
    width: 80px;
    height: 22px;
    background-color: rgba(211, 211, 211, 0.2);
    color: white;
    margin-top: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 10px;
    margin-right: 12px;
    border: none;
    border-radius: 2px;
    
}
input::placeholder {
    color: white;
    font-size: 10px;
    font-weight: bold;
    padding-left: 5px;
   

}
input{
    height:20px;
    background-color: rgba(211, 211, 211, 0.3);
    border: none
   
}