div {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 20px solid blue;
    border-left: 20px solid black;
    animation: spinAnimation 1s linear 1s infinite normal;
}

@keyframes spinAnimation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}